<div class="bio-container">
    <div class="card">
        <img src="./images/01-bio-pic.png" class="card-img-center" alt="Paige Legault"
            style="width: 500px;height: 300px;">
        <div class="card-body">
            <p class="card-text">I’ve worked with over 60 families in 10 years, helping make time for date nights, ease
                the stress during vacations and going all in, dedicating over 50 hours a week at home with large
                families as a full-time nanny.</p>

            <p>My caregiving journey started as soon as I could care for children, and I regularly babysat with my mom
                at home when I was 10 years old. I quickly grew to help other parents, and draw from my professional
                experience as a Montessori classroom assistant to enrich children’s lives.</p>



            <p>I grew my passion for caregiving and early childhood education working with teachers and staff at two
                Boulder County Montessori schools over 4 years. This experience gave me the skills to support each child
                as an individual, and provide an environment that honors their independence and own pace of learning.
            </p>



            <p>I combine these skills with over 10 years of experience, and a pediatric sleep certification to provide
                in-home care to help families struggling to thrive in their day-to-day lives.</p>
        </div>
    </div>
</div>
<div>

</div>