<div class="container mt-5 pt-5 mb-5 pb-5">
    <div class="row d-flex justify-content-center mt-5 pt-3">
        <div class="col-6">
            <form class="form" method="POST" action="/api/child">
                <div class="form-group">
                    <label class="col-5 form-label bg-primary text-light" for="child">First Name:</label>
                    <input class="col-5 form-input" name="first_name" type="text" />
                </div>
                <div class="form-group">
                    <label class="col-5 form-label bg-primary text-light" for="child">Last Name:</label>
                    <input class="col-5 form-input" name="last_name" type="text" />
                </div>
                <div class="form-group">
                    <label class="col-5 form-label bg-primary text-light" for="child">Age:</label>
                    <input class="col-5 form-input" name="child_age" type="text" />
                </div>
                <div class="form-group">
                    <button class="col-5 btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>