<div class="container mt-5 pt-5 mb-5 pb-5">
    <div class="row d-flex justify-content-center mt-5 pt-3">
        <div class="col-6">
            <form class="form" method="POST" action="/api/child">
                <div class="form-group">
                    <label
                        class="col-5 form-label bg-primary text-light new-child animate__animated animate__rotateInDownLeft"
                        for="child">Child First Name:</label>
                    <input class="col-5 form-input newchild animate__animated animate__rotateInDownRight"
                        name="first_name" type="text" />
                </div>
                <div class="form-group">
                    <label
                        class="col-5 form-label bg-primary text-light new-child animate__animated animate__rotateInDownLeft"
                        for="child">Child Last Name:</label>
                    <input class="col-5 form-input newchild animate__animated animate__rotateInDownRight"
                        name="last_name" type="text" />
                </div>
                <div class="form-group">
                    <label
                        class="col-5 form-label bg-primary text-light new-child animate__animated animate__rotateInDownLeft"
                        for="child">Childe Age:</label>
                    <input class="col-5 form-input newchild animate__animated animate__rotateInDownRight"
                        name="child_age" type="text" />
                </div>
                <div class="form-group">
                    <button class="col-5 btn btn-primary animate__animated animate__zoomIn"
                        type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>