<div class="row">
  <div class="col-md-6">
    <form class="form signup-form">
      <div class="form-group">
        <label for="sleepchart">Date:</label>
        <input class="form-input" type="text" id="currentdate" />
      </div>
       <div class="form-group">
        <label for="sleepchart">AM Wake Time:</label>
        <input class="form-input" type="text" id="amWakeup" />
      </div>
      <div class="form-group">
        <label for="sleepchart">Nap 1:</label>
        <input class="form-input" type="text" id="firstNap" />
      </div>
      <div class="form-group">
        <label for="sleepchart">Nap 1 Time in Bed:</label>
        <input class="form-input" type="text" id="bedTime" />
      </div>
      <div class="form-group">
        <label for="sleepchart">Nap 1 Time Asleep:</label>
        <input class="form-input" type="text" id="sleepTime" />
      </div>
      <div class="form-group">
        <label for="sleepchart">Nap 1 Time Awake:</label>
        <input class="form-input" type="text" id="awakeTime" />
      </div>
      <div class="form-group">
        <label for="sleepchart">Nap 1 Total Duration:</label>
        <input class="form-input" type="text" id="napDuration" />
      </div>
      <div class="form-group">
        <label for="sleepchart">Bedtime :</label>
        <input class="form-input" type="text" id="bedtime" />
      </div>
      <div class="form-group">
        <label for="sleepchart">Bedtime Time in Bed:</label>
        <input class="form-input" type="text" id="timeInBed" />
      </div>
      <div class="form-group">
        <label for="sleepchart">Bedtime Time Asleep:</label>
        <input class="form-input" type="text" id="timeAsleep" />
      </div>
      <div class="form-group">
        <label for="sleepchart">Bedtime Awake:</label>
        <input class="form-input" type="text" id="timeAwake" />
      </div>
      <div class="form-group">
        <label for="sleepchart">Bedtime Total Duration:</label>
        <input class="form-input" type="text" id="bedtimeDuration" />
      </div>
      <div class="form-group">
        <label for="sleepchart">Number of Feedings:</label>
        <input class="form-input" type="text" id="feedings" />
      </div>
      <div class="form-group">
        <label for="sleepchart">UserId:</label>
        <input class="form-input" type="text" id="userId" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Sleep Chart</button>
      </div>
    </form>
  </div>
</div>
