body {
  background-image: url("/images/littleprince2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bio-container {
  opacity: 0.8;
}

.bio-text {
  font-weight: bold;
}

.login {
  color: #f7a7ab;
  font-weight: bolder;
}

.login-btn {
  margin-top: 20px;
  margin-left: 60px;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f7a7ab;
  color: white;
}

.login-btn:hover {
  background-color: skyblue;
  color: black;
}

.sign-up {
  color: rgb(147, 218, 235);
  font-weight: bolder;
}

.signup-btn:hover {
  background-color: skyblue;
  color: black;
}

.signup-button {
  background-color: rgb(177, 119, 10);
  font-size: 36px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 5px;
  color: #f5f5f5;
}

.schedule-btn {
  background-color: rgb(253, 214, 142);
  font-size: 32px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 5px;
  color: #f5f5f5;
}

a {
  text-decoration: none;
}

.signup-btn {
  margin-top: 20px;
  margin-left: 60px;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f7a7ab;
  color: white;
}

.home-image {
  margin-top: 10px;
  border-radius: 50%;
  box-shadow: 6px 5px rgb(131, 216, 228);
  width: auto;
  height: auto;
}

.footer {
  margin-top: auto;
  background-color: #f5f5f5;
  width: auto;
  padding: 0 15px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

ul {
  padding: 0;
  font-size: 2em;
}
li {
  display: inline-block;
  width: 1.2em;
}
.grow {
  transition: all 0.2s ease-in-out;
  color: black;
  cursor: pointer;
}
.grow:hover {
  transform: scale(1.5);
}

.btn-hvr:hover {
  background-color: rgb(56, 53, 53);
}
