body {
  background-image: url("/images/littleprincelight.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bio-container {
  opacity: 0.8;
}

.bio-text {
  font-weight: bold;
}

.login {
  color: #f7a7ab;
  font-weight: bolder;
}

.login-btn {
  margin-top: 20px;
  margin-left: 60px;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f7a7ab;
  color: white;
}

.login-btn:hover {
  background-color: skyblue;
  color: black;
}

.sign-up {
  color: rgb(147, 218, 235);
  font-weight: bolder;
}

.signup-btn:hover {
  background-color: skyblue;
  color: black;
}

.signup-btn {
  margin-top: 20px;
  margin-left: 60px;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f7a7ab;
  color: white;
}

.home-image {
  margin-top: 10px;
  border-radius: 50%;
  box-shadow: 6px 5px rgb(131, 216, 228);
  width: auto;
  height: auto;
}

.footer {
  margin-top: auto;
  background-color: #f5f5f5;
  width: auto;
  padding: 0 15px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
